.order-by-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 80%;
  margin: auto;
}

#render-container {
  font-weight: 700;
}

.filter-order-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.render-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipeCardAPI {
  width: 320px;
  height: auto;
}

#render-container {
  /* background-image: url("https://images.pexels.com/photos/349608/pexels-photo-349608.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-attachment: fixed;
  background-size: cover; */
}

.go-top {
  padding: 10px;
  text-decoration: none;
  border: solid thin;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
  background-color: rgba(207, 223, 223, 0.411);
  width: fit-content;
  margin: 10px auto 20px;
}

.error-message {
  color: rgb(17, 17, 17);
  font-weight: 800;
  font-size: 24px;
  background-color: rgba(255, 0, 0, 0.322);
  width: 50%;
  margin: auto;
  margin-top: 15px;
  border-radius: 10px;
}

.cero-coincidencias {
  color: rgb(17, 17, 17);
  font-weight: 800;
  font-size: 24px;
  background-color: rgba(207, 223, 223, 0.411);
  width: fit-content;
  padding: 15px;
  margin: auto;
  margin-top: 15px;
  border-radius: 10px;
}
