.order-by-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.filter-order-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.render-cards {
  display: flex;
  flex-wrap: wrap;
}

.recipeCardAPI {
  width: 350px;
  height: auto;
}
