.paginacion {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

/* button {
  background-color: #ecebeb69;
  border: solid thin;
  padding: 1px 10px;
  border-radius: 3px;
  height: 30px;
  margin: 3px;

  cursor: pointer;
  font-weight: 700;
} */

svg {
  width: 10px;
}

button.svg-right {
  padding-top: 1px;
}

button.svg-left {
  padding-top: 6px;
  padding-bottom: 1px;
}

button[disabled] {
  background-color: #967878;
  cursor: no-drop;
  /* border: solid black; */
}

.paginacion > input {
  height: 20px;
  width: 35px;
  text-align: center;
  border: 1px solid #242424;
  border-radius: 3px;
}
