/* .paginacion {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
} */

.page-number-buttons {
  display: flex;
  flex-wrap: wrap;
}

.pagination-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

/* button {
  border: solid thin;
  border-radius: 3px;
  margin: 3px;
  cursor: pointer;
  font-weight: 700;
} */

svg {
  width: auto;
}

button.svg-right {
  padding-top: 4px;
}

button.svg-left {
  padding-top: 4px;
}

button[disabled] {
  background-color: #745c5cb9;
  cursor: no-drop;
  /* border: solid black; */
}

.paginacion > input {
  height: 20px;
  width: 35px;
  text-align: center;
  border: 1px solid #242424;
  border-radius: 3px;
}
