.recipeCardAPI {
  background-color: rgba(244, 245, 245, 0.938);
  border: solid black;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 15px;
  padding-bottom: 15px;
}
